* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-theme: #252525;
  --color-theme: rgba(255, 255, 255, 1);

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-theme);
  background: var(--bg-theme);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-theme: "#fff";
    --color-theme: "#213547";
  }
  a:hover {
    color: #747bff;
  }

  .product-item {
    background: #242424;
    color: #f9f9f9;
  }
}

.page {
  width: 100%;
  padding: 20px;
}

.app-main {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100svh;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;

  .global-menu {
    position: sticky;
    top: 0;
    height: 100svh;
    min-height: 100%;
    width: 300px;
    min-width: 300px;
    border-right: solid 1px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;

    text-align: center;
  }
}

.separator {
  width: 100%;
  height: 1px;
  background: var(--color-theme);
}

.logo {
  height: 150px;
  width: 150px;
  border-radius: 100%;
}

button {
  width: 100%;
  padding: 12px 16px;
  cursor: pointer;
  background: var(--bg-theme);
  color: var(--color-theme);
  border: solid 1px;
  font-size: 1rem;
}

button:hover {
  color: var(--bg-theme);
  background: var(--color-theme);
}

.btn-group {
  width: 100%;
  padding-inline: 20px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;

  .btn-menu {
    border: none;
    border-bottom: solid 1px;
  }
}

.home-page {
  width: 100%;
  text-align: center;
}

.product-page {
  width: 100%;
  padding-right: 20px;
}

.page-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  position: sticky;
  top: 0;
  background: var(--bg-theme);
  z-index: 2;
  padding-block: 20px;
  border-bottom: solid 1px;

  svg {
    cursor: pointer;
  }
}

.btn-logout {
  position: absolute;
  bottom: 20px;
  width: calc(100% - 40px);
  border-radius: 10px;
}

.search-section-container {
  width: 100%;
}

.search-section {
  width: 100%;
  position: relative;

  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 10px;

  .form-control {
    &.loading {
      .spinner {
        position: absolute;
        right: 16px;
        bottom: 16px;
      }
    }
  }

  button {
    width: 100px;
    border-radius: 10px;
  }
}

.toast {
  position: fixed;
  bottom: 20px;
  width: 100%;
  max-width: 350px;
  height: 100px;
  color: #fff;
  background: #202020;
  border-radius: 10px;
  padding: 20px;
  right: -100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  transition: 0.5s ease-in-out right;

  svg {
    color: #fff;
  }

  &.visible {
    transition: 0.5s ease-in-out right;
    right: 20px;
    z-index: 101;
  }
}

.primary {
  background: #0824d4;
  border-color: transparent;
  color: #fff;

  &:hover {
    color: #fff;
    background: #142487;
  }
}

.error {
  background: #cf0000;
  border-color: transparent;
  color: #fff;

  &:hover {
    color: #fff;
    background-color: #961515;
  }
}

.success {
  background: #07ab2e;
  border-color: transparent;

  &:hover {
    color: #fff;
    background-color: #126b28;
  }
}

.info {
  background: #0824d4;
  border-color: transparent;

  &:hover {
    color: #fff;
    background-color: #111e73;
  }
}

.modal-blur-bg {
  display: none;

  &.open {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    z-index: 100;
  }
}

.modal {
  display: none;

  &.open {
    display: block;
    position: fixed;
    margin-block: 30px;
    background: var(--bg-theme);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    padding: 20px;
    height: auto;
    max-height: calc(100% - 60px);

    left: 50%;
    transform: translateX(-50%);
    z-index: 101;

    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .modal-title {
    width: 100%;
    text-align: center;

    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;

    h3 {
      margin: auto;
    }

    .modal-close-btn {
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer;
    }
  }
}
